/* Config file for all the styles 
Store all the typeface, color pallete, and some other things */

:root {
    --light-text: #000;
    --light-background: #fff;

    --dark-text: #fff;
    --dark-semiText: #666;
    --dark-background: #000;

    --onHover: #0000ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body,
html {
    width: 100%;
    height: 100%;
    background-color: var(--dark-background);
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    border: none;
    outline: none;
    background: none;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
