/* Config file for all the styles 
Store all the typeface, color pallete, and some other things */
:root {
  --light-text: #000;
  --light-background: #fff;
  --dark-text: #fff;
  --dark-semiText: #666;
  --dark-background: #000;
  --onHover: #0000ff;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body,
html {
  width: 100%;
  height: 100%;
  background-color: var(--dark-background);
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  border: none;
  outline: none;
  background: none;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #fff;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.cursor {
  left: 10px;
  width: 20px;
  z-index: 900;
  position: fixed;
  aspect-ratio: 1;
  border-radius: 50%;
  pointer-events: none;
  mix-blend-mode: difference;
  background-color: #f3f3f3;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: width .3s, height .3s;
  transition: width .3s, height .3s;
}

.cursor.state-1 {
  width: 40px;
  -webkit-transition: width .3s, height .3s;
  transition: width .3s, height .3s;
}

.cursor.state-2 {
  width: 200px;
  mix-blend-mode: saturation;
}

.navbar {
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  z-index: 800;
  padding: 1% 5%;
  position: fixed;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.navbar nav {
  width: 100%;
  height: 100%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'PP Neue Montreal';
}

.navbar nav .logo {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 50%;
  font-size: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar nav .logo b {
  font-size: 1.2rem;
}

.navbar nav button {
  margin: 1% 0;
  z-index: 790;
  color: #000;
  cursor: pointer;
  font-size: 1.1rem;
  padding: 8px 25px;
  border-radius: 300px;
  background-color: #fff;
  font-family: 'PP Neue Montreal';
}

.navbar nav #submenu {
  top: 10%;
  width: 8.7%;
  right: -.5%;
  height: 80%;
  z-index: 780;
  color: #000;
  position: absolute;
  border-radius: 300px;
  background: #fff;
  opacity: 0%;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.navbar nav #submenu ul {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  padding-left: 2em;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar nav #submenu ul li {
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  margin-left: 10px;
  font-size: 1.1rem;
  padding-left: 1em;
}

.navbar nav #submenu ul li:hover {
  color: var(--onHover);
}

.navbar nav #submenu ul button {
  width: 10px;
  padding: 2% 2%;
  aspect-ratio: 1;
  margin-left: 25px;
  border-radius: 50%;
  background: #000;
}

.navbar nav #submenu.active {
  width: 40%;
  opacity: 1;
}

section {
  width: 100%;
  height: 100%;
}

.hero {
  width: 100%;
  height: 100vh;
}

.hero__items {
  width: 100%;
  height: 100%;
  color: #fff;
  position: relative;
  font-family: 'PP Neue Montreal';
}

.hero__items h1 {
  padding: 0 5%;
  padding-top: .6em;
  line-height: 80%;
  font-size: 13rem;
  font-weight: 400;
  position: relative;
}

.hero__items h1 .span-1 {
  font-family: 'Space Grotesk';
}

.hero__items h1 .span-2 {
  font-family: 'Coolvetica';
}

.hero__items__img {
  left: 40%;
  top: 20.4%;
  width: 380px;
  height: 156px;
  overflow: hidden;
  position: absolute;
}

.hero__items__img img {
  -webkit-filter: grayscale(100);
          filter: grayscale(100);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.hero__items__img img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.hero__items p {
  right: 5%;
  bottom: 5%;
  width: 35%;
  font-weight: 400;
  text-align: right;
  position: absolute;
}

.gallery {
  width: 100%;
  height: 150vh;
}

.gallery__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10% 5%;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.gallery__list li {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2em;
  border-bottom: 1px solid #666;
}

.gallery__list li a {
  color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
  font-weight: 400;
  padding-left: 5%;
  font-size: 7.5rem;
  text-decoration: none;
  font-family: 'PP Neue Montreal';
}

.gallery__list li a::before {
  top: 50%;
  left: 0%;
  color: #fff;
  content: '2021';
  font-size: 1.1rem;
  position: absolute;
  font-style: italic;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

.gallery__list li a:hover {
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: skewX(-20deg);
          transform: skewX(-20deg);
}

.gallery__list li h2 {
  right: 5%;
  color: #fff;
  font-weight: 400;
  font-size: 7.5rem;
  position: absolute;
  font-family: 'PP Neue Montreal';
}

.gallery__list li .photo {
  z-index: 4;
  width: 400px;
  height: 250px;
  overflow: hidden;
  position: absolute;
  visibility: hidden;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: visibility 0.3s, -webkit-transform 0.3s;
  transition: visibility 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, visibility 0.3s;
  transition: transform 0.3s, visibility 0.3s, -webkit-transform 0.3s;
}

.gallery__list li .photo img {
  max-width: 100%;
  min-width: 100%;
  max-height: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}

.gallery__list li .photo.active {
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.footer {
  width: 100%;
  height: 100vh;
}

.footer__upper {
  width: 100%;
  height: 80%;
  color: #fff;
  position: relative;
}

.footer__upper h1 {
  line-height: 75%;
  font-weight: 400;
  padding-top: .5em;
  text-align: center;
  font-size: 14.5rem;
  position: relative;
  font-family: 'Coolvetica';
}

.footer__upper h1:hover {
  -webkit-transition: .3s;
  transition: .3s;
  color: var(--onHover);
}

.footer__upper .border {
  top: 15%;
  left: 6em;
  width: 86%;
  height: 1px;
  position: absolute;
  background-color: #666;
}

.footer__bottom {
  width: 100%;
  height: 20%;
  color: #666;
  position: relative;
}

.footer__bottom ul {
  padding-top: 1em;
  font-size: 2rem;
  text-align: center;
}

.footer__bottom ul a:hover {
  -webkit-transition: .3s;
  transition: .3s;
  color: var(--onHover);
}

.footer__bottom p {
  text-align: center;
  font-family: 'PP Neue Montreal';
}

.footer__bottom .border {
  top: 8%;
  left: 6em;
  width: 86%;
  height: 1px;
  position: absolute;
  background-color: #666;
}
