/* Config file for all the styles 
Store all the typeface, color pallete, and some other things */
:root {
  --light-text: #000;
  --light-background: #fff;
  --dark-text: #fff;
  --dark-semiText: #666;
  --dark-background: #000;
  --onHover: #0000ff;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body,
html {
  width: 100%;
  height: 100%;
  background-color: var(--dark-background);
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  border: none;
  outline: none;
  background: none;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #fff;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.cursor {
  left: 10px;
  width: 20px;
  z-index: 900;
  position: fixed;
  aspect-ratio: 1;
  border-radius: 50%;
  pointer-events: none;
  mix-blend-mode: difference;
  background-color: #f3f3f3;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: width .3s, height .3s;
  transition: width .3s, height .3s;
}

.cursor.state-1 {
  width: 40px;
  -webkit-transition: width .3s, height .3s;
  transition: width .3s, height .3s;
}

.cursor.state-2 {
  width: 200px;
  mix-blend-mode: saturation;
}

.navbar {
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  z-index: 800;
  padding: 1% 5%;
  position: fixed;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.navbar nav {
  width: 100%;
  height: 100%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'PP Neue Montreal';
}

.navbar nav .logo {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 50%;
  font-size: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar nav .logo b {
  font-size: 1.2rem;
}

.navbar nav button {
  margin: 1% 0;
  z-index: 790;
  color: #000;
  cursor: pointer;
  font-size: 1.1rem;
  padding: 8px 25px;
  border-radius: 300px;
  background-color: #fff;
  font-family: 'PP Neue Montreal';
}

.navbar nav #submenu {
  top: 10%;
  width: 8.7%;
  right: -.5%;
  height: 80%;
  z-index: 780;
  color: #000;
  position: absolute;
  border-radius: 300px;
  background: #fff;
  opacity: 0%;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.navbar nav #submenu ul {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  padding-left: 2em;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar nav #submenu ul li {
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  margin-left: 10px;
  font-size: 1.1rem;
  padding-left: 1em;
}

.navbar nav #submenu ul li:hover {
  color: var(--onHover);
}

.navbar nav #submenu ul button {
  width: 10px;
  padding: 2% 2%;
  aspect-ratio: 1;
  margin-left: 25px;
  border-radius: 50%;
  background: #000;
}

.navbar nav #submenu.active {
  width: 40%;
  opacity: 1;
}

section {
  width: 100%;
  height: 100%;
}

.hero {
  width: 100%;
  height: 100vh;
}

.hero__items {
  width: 100%;
  height: 100%;
  color: #fff;
  position: relative;
  font-family: 'PP Neue Montreal';
}

.hero__items__title {
  width: 100%;
  height: 100%;
  padding-top: 6em;
  position: relative;
  text-align: center;
}

.hero__items__title h1 {
  font-size: 12rem;
  font-weight: 400;
  position: relative;
  margin-bottom: -.5em;
}

.hero__items__title li {
  top: 80%;
  left: 50%;
  width: 12%;
  color: #000;
  position: absolute;
  padding: 15px 35px;
  border-radius: 300px;
  background-color: #fff;
  -webkit-transform: translate(-50%, -80%);
          transform: translate(-50%, -80%);
}

.hero__items__title li a {
  font-size: 1.1rem;
}

.hero__items__title h1:first-child {
  font-family: 'Space Grotesk';
}

.hero__items__title h1:last-child {
  padding-right: .24em;
  font-family: 'Coolvetica';
  text-transform: uppercase;
}

.hero__items__title p {
  top: 40%;
  width: 30%;
  right: 3.6%;
  font-size: 1rem;
  font-weight: 400;
  position: absolute;
  text-align: justify;
}

.footer {
  width: 100%;
  height: 100vh;
}

.footer__upper {
  width: 100%;
  height: 80%;
  color: #fff;
  position: relative;
}

.footer__upper h1 {
  line-height: 75%;
  font-weight: 400;
  padding-top: .5em;
  text-align: center;
  font-size: 14.5rem;
  position: relative;
  font-family: 'Coolvetica';
}

.footer__upper h1:hover {
  -webkit-transition: .3s;
  transition: .3s;
  color: var(--onHover);
}

.footer__upper .border {
  top: 15%;
  left: 6em;
  width: 86%;
  height: 1px;
  position: absolute;
  background-color: #666;
}

.footer__bottom {
  width: 100%;
  height: 20%;
  color: #666;
  position: relative;
}

.footer__bottom ul {
  padding-top: 1em;
  font-size: 2rem;
  text-align: center;
}

.footer__bottom ul a:hover {
  -webkit-transition: .3s;
  transition: .3s;
  color: var(--onHover);
}

.footer__bottom p {
  text-align: center;
  font-family: 'PP Neue Montreal';
}

.footer__bottom .border {
  top: 8%;
  left: 6em;
  width: 86%;
  height: 1px;
  position: absolute;
  background-color: #666;
}
