// CUSTOM FONTS
@font-face {
  font-family: InterphasesReg;
  src: url(./assets/font/InterphasesReg.ttf);
}
@font-face {
  font-family: InterphasesBold;
  src: url(./assets/font/InterphasesBold.ttf);
}
@font-face {
  font-family: MontrealReg;
  src: url(./assets/font/MontrealReg.otf);
}
@font-face {
  font-family: MontrealBold;
  src: url(./assets/font/MontrealBold.otf);
}

// COLORS
$orange: #FF6B00;
$black: #050505;
$darkGrey: #202020;
